@keyframes heartbeat {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    to {
        transform: scale(1);
    }
}

@keyframes cup {
    from, to {
      transform: translate3d(0, 0, 0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(0, -7px, 0);
    }
  
    20%, 40%, 60%, 80% {
      transform: translate3d(0, 7px, 0);
    }
    
}

@keyframes shoes {
    from, to {
      transform: translate3d(0, 0, 0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-7px, 0, 0);
    }
  
    20%, 40%, 60%, 80% {
      transform: translate3d(7px, 0, 0);
    }
    
}
