@media (max-width:1200px) {
    .promo {
        .header {
            padding: 0px 20px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
        &__item {
            max-width: 310px;
        }
        &__wrapper > div {
            margin-top: 20px;
        }
    }

    .carousel{
        /* padding: 130px 0; */

        .prev, .next {
            transform: none;
        }

        .prev {
            top: 100%;
            left: 42%;
        }

        .next {
            top: 100%;
            right: 42%;
        }
    }

}

@media (max-width: 991px) {
    .title {
        font-size: 24px;
    }
    .promo {
        .header {
            &__official {
                display: none;
            }
        }
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 24px;
        }
    }

    .consultation {
        .title {
        &_left {
            text-align: center;
            }
        }
        &__descr {
            text-align: center;
            font-size: 18px;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }

    .carousel {
        padding: 75px 0;
        button {
            display: none;
        }
    }

    .catalog {
        &__tabs {
            flex-direction: column;
            margin-top: 45px;
        }

        &__tab {
            margin-bottom: 20px;
        }

       &-item {
           width: 50%;
       }

       &__content {
           margin-top: 30px;
       }
    }

    .reviews {
        &__wrapper {
            flex-direction: column;
        }

        &__text {
            text-align: center;
            width: 80%;
            margin:0 auto;
            padding-right: 0;
        }

        &__name {
            margin-top: 10px;
        }

        &__subtitle {
            margin-top: 10px;
        }
    }


}




@media (max-width:767px) {
    .promo {
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 22px;
        }
        .button {
            &_main {
                margin-top: 48px;
            }
        }
    }

    .carousel {
        padding: 80px 30px;
    }

    .catalog {
        &__tab {
            font-size: 16px;
        }
        &-item {
            &__price {
                font-size: 18px;
            }

            &__img {
                height: 150px;
            }
        }
    }

    .modal {
        width: 340px;
        padding: 38px 0 0 0;
        height: 380px;
        min-height: 0;
        &__subtitle {
            font-size: 16px;
        }

        &__descr {
            font-size: 12px;
        }
    }

    .feed-form_mt25 {
        margin-top: 20px;

        input {
            font-size: 13px;
            height: 40px;
        }

        .button {
            display: block;
            margin: 0 auto;
            width: 85%;
            height: 50px;
            font-size: 14px;
        }
    }

    .footer {
        &__info {
            width: 100%;
            height: 240px;
        }
        &__addr {
            font-size: 16px;
        }
        &__phone {
            font-size: 16px;
        }
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 20px;
    }
    .promo {
        .header {
            &__contacts {
                display: none;
            }
            &__logo {
                margin: 0 auto;
            }
        }

        &__wrapper {
            margin-top: 55px;
        }

        &__header {
            font-size: 24px;
        }

        &__subheader {
            font-size: 16px;
        }

        &__icons {
            flex-direction: column;
            align-content: center;
            margin-top: 30px;
            width: 100%;
        }

        &__icon {
            margin-bottom: 35px;
            width: auto;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__link {
            margin-top: 30px;
        }
    }

    .consultation {
        &__descr {
            font-size: 16px;
        }
    }

    .catalog {
        &__content {
            justify-content: center;
        }

        &-item {
            width: 80%;
        }
    }
}

@media (max-width: 375px) {
    .title {
        font-size: 18px;
    }
    .promo {
        .header {
            &__contacts {
                display: none;
            }
            &__logo {
                margin: 0 auto;
            }
        }

        &__wrapper {
            margin-top: 48px;
        }

        &__header {
            font-size: 20px;
        }

        &__subheader {
            font-size: 16px;
        }

        &__icons {
            flex-direction: column;
            align-content: center;
            margin-top: 24px;
            width: 100%;
        }

        &__icon {
            margin-bottom: 35px;
            width: auto;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__link {
            margin-top: 28px;
        }
    }

    .consultation {
        &__descr {
            font-size: 16px;
        }
    }

    .feed-form {
        input {
            height: 44px;
        }

        button {
            height: 50px;
            font-size: 14px;
        }
    }


}